<li class="course">
   <div class="course-name">
       {{course.courseName}}
    </div>
   <div class="course-description">
        <div class="text-small">Total Marks: {{course.totalMarks}}</div>
        <div class="text-small">Passing Marks: {{course.passingMarks}}</div>  
   </div>
   <div class="course-actions">
       <button class="btn btn-warning" [routerLink]="course.courseId+'/edit'">Edit</button>
       <button class="btn btn-danger"(click)="deleteCourse()" >Delete</button>
   </div>
</li>
